* {
  margin: 0px;
  padding: 0px;
}

.presentation {
  background-color: rgb(119, 119, 119);
  text-align: center;
}

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  height: 50vh;
}

h2 {
  font-size: 35px;
  padding-top: 15px;
}

.nombre h3 {
  font-size: 40px;
}

.descripcion {
  text-align: left;
}

.presentation a img {
  width: 35px;
}